#include <physical_layouts.dtsi>

/ {
    ket_physical_layout: ket_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "KET";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   87       0     0     0>
            , <&key_physical_attrs 100 100  104   71       0     0     0>
            , <&key_physical_attrs 100 100  208   34       0     0     0>
            , <&key_physical_attrs 100 100  312    8       0     0     0>
            , <&key_physical_attrs 100 100  416   39       0     0     0>
            , <&key_physical_attrs 100 100  520   55       0     0     0>
            , <&key_physical_attrs 100 100  999   47       0     0     0>
            , <&key_physical_attrs 100 100 1103   32       0     0     0>
            , <&key_physical_attrs 100 100 1207    0       0     0     0>
            , <&key_physical_attrs 100 100 1311   26       0     0     0>
            , <&key_physical_attrs 100 100 1415   63       0     0     0>
            , <&key_physical_attrs 100 100 1519   79       0     0     0>
            , <&key_physical_attrs 100 100    0  191       0     0     0>
            , <&key_physical_attrs 100 100  104  175       0     0     0>
            , <&key_physical_attrs 100 100  208  138       0     0     0>
            , <&key_physical_attrs 100 100  312  112       0     0     0>
            , <&key_physical_attrs 100 100  416  143       0     0     0>
            , <&key_physical_attrs 100 100  520  159       0     0     0>
            , <&key_physical_attrs 100 100  999  151       0     0     0>
            , <&key_physical_attrs 100 100 1103  136       0     0     0>
            , <&key_physical_attrs 100 100 1207  104       0     0     0>
            , <&key_physical_attrs 100 100 1311  130       0     0     0>
            , <&key_physical_attrs 100 100 1415  167       0     0     0>
            , <&key_physical_attrs 100 100 1519  183       0     0     0>
            , <&key_physical_attrs 100 100    0  294       0     0     0>
            , <&key_physical_attrs 100 100  104  279       0     0     0>
            , <&key_physical_attrs 100 100  208  242       0     0     0>
            , <&key_physical_attrs 100 100  312  216       0     0     0>
            , <&key_physical_attrs 100 100  416  247       0     0     0>
            , <&key_physical_attrs 100 100  520  263       0     0     0>
            , <&key_physical_attrs 100 100  999  255       0     0     0>
            , <&key_physical_attrs 100 100 1103  240       0     0     0>
            , <&key_physical_attrs 100 100 1207  208       0     0     0>
            , <&key_physical_attrs 100 100 1311  234       0     0     0>
            , <&key_physical_attrs 100 100 1415  271       0     0     0>
            , <&key_physical_attrs 100 100 1519  287       0     0     0>
            , <&key_physical_attrs 100 100    0  398       0     0     0>
            , <&key_physical_attrs 100 100  104  383       0     0     0>
            , <&key_physical_attrs 100 100  208  346       0     0     0>
            , <&key_physical_attrs 100 100  312  320       0     0     0>
            , <&key_physical_attrs 100 100  416  351       0     0     0>
            , <&key_physical_attrs 100 100  520  367       0     0     0>
            , <&key_physical_attrs 100 100  999  359       0     0     0>
            , <&key_physical_attrs 100 100 1103  343       0     0     0>
            , <&key_physical_attrs 100 100 1207  312       0     0     0>
            , <&key_physical_attrs 100 100 1311  338       0     0     0>
            , <&key_physical_attrs 100 100 1415  375       0     0     0>
            , <&key_physical_attrs 100 100 1519  391       0     0     0>
            , <&key_physical_attrs 100 100  416  472       0     0     0>
            , <&key_physical_attrs 100 100  533  489    1700   583   539>
            , <&key_physical_attrs 100 100  639  537    3200   689   587>
            , <&key_physical_attrs 100 100  880  529 (-3200)   930   579>
            , <&key_physical_attrs 100 100  986  481 (-1700)  1036   531>
            , <&key_physical_attrs 100 100 1103  464       0     0     0>
            , <&key_physical_attrs 100 100  442  583     500   492   633>
            , <&key_physical_attrs 100 100  558  613    2500   608   663>
            , <&key_physical_attrs 100 100  960  605 (-2500)  1010   655>
            , <&key_physical_attrs 100 100 1077  575  (-500)  1127   625>
            ;
    };
};

